/* font-family: 'Mulish', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */

body {
    background-color: #F9FAFC;
    font-family:'Mulish',sans-serif;
    font-weight: 500;
}

/* NAVBAR */


.navbar-light .navbar-brand{
    color: #2a2a2ada;
    font-family: 'Patrick Hand', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(0,0,0,.6);
}

.navbar-brand{
    font-size: 28px;
    font-weight: 600;   
}

.navbar-nav > li > a:hover { 
    background-color:rgb(255 193 7) !important;
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
    }

.search-tab, .search-btn{
    border-radius: 25px;
}

input, textarea{
    width: 100%;
}

.contact-background{
    background: url('../images/contact-strawberries.jpg') no-repeat center center;
    background-size: cover;
    color: #efe5db;
    margin-top: 6rem;
}


/* FOOTER */

footer {
    font-size: 20px;
}

i{
    font-size: 30px;
}

/* HERO IMAGE */

.hero-image{
    background: url('../images/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



/* WELCOME TITLE AND LOGIN/REGISTER BTN */

.col-title{
    padding: 40px 15px;
    background-color: rgb(73 69 65 / 55%);
    border-radius: 5px;
    color: #efe5db;
}

.title{
    font-size: 45px;
    font-family: 'Patrick Hand', sans-serif;
}

.btn-home-page{
    padding: 10px;
}

hr{
    background: #484747;
}

.card-margin{
    margin: 0 auto;
    margin-bottom: 30px;
}

.card{
    max-width: 250px;
}
.img-fit{
    object-fit: cover;
}

.contact-form-color{
    background-color: rgba(0,0,0,.6);
}
/* 700px and up */
@media only screen and (min-width: 768px){

    .navbar{
        padding: 1rem;
        font-size: 1.1rem;
    }
   
    .navbar-brand{
        font-size: 35px;   
    }

    .col-title{
        padding: 60px 30px;
    }

    .title{
        font-size: 60px;
    }

    .col-title{
        padding: 70px 70px;
    }

}

