{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2> Recipes</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="row no-gutters">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card border-0 mb-4 all-recipes-cards">
                        <a href="{% url 'recipe_details' post.slug %}" class="text-decoration-none text-reset">
                            <div class="card-body">
                                <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <img src="../static/images/oranges.jpg" alt="Oranges" class="card-img-top img-fit" height="300">
                            {% else %}
                                <img class="card-img-top img-fit" height="300px" src=" {{ post.image.url }}" alt="{{ post.title}}">
                              {% endif %}
                                </div>
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="text-muted">by {{ post.author }}</p>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.published_on}} <i class="far fa-heart"></i>
                                    {{ post.number_of_likes }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row no-gutters">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
    
    <!-- Site Pagination, max 6 recipes per page
        From Code Institute Codestar Follow Along Project -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-5">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-warning all-btn page">&laquo; Prev
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-warning all-btn page"> Next &raquo;</a>
                </li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
  </div>


{%endblock%}