{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid hero-image">
        <div class="row">
            <div class="col col-title text-center">
                    <h1 class="text-center title"> Welcome to The Healthy Family</h1>
                    <p class="display-6"> Perfect place to find and share healthy kid-friendly recipes</p>
                    <hr>
                    {% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}">
                        <button class="btn btn-warning btn-home-page">Logout</button>
                    </a>

                    {% else %}
                    <a href="{% url 'account_login' %}">
                        <button class="btn btn-warning btn-home-page">Login/Register</button>
                    </a>
                    {% endif %}
   
            </div>
        </div>
    </div>
</section>


    <!-- RECENTLY ADDED RECIPES -->
<section>
    <div class="text-center mt-5 mb-5 added-recipes-title">
        <h3>Recently Added Recipes</h3>
</div>

<div class="container">
    <div class="row">
        {% for post in posts %}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <a href="{% url 'recipe_details' post.slug %}" class="text-decoration-none text-reset">
        <div class="card card-recently-added">
          {% if "placeholder" in post.image.url %}
                <img src="../static/images/oranges.jpg" alt="Oranges" class="card-img-top img-fit" height="200">
            {% else %}
                <img class="card-img-top img-fit" height="200px" src=" {{ post.image.url }}" alt="{{ post.title}}">
              {% endif %}
                <div class="card-body">
                    <h5 class="card-title rec-card-title"></h5>
                <p class="card-text">{{ post.title }}</p>
                <p class="card-text">By: {{ post.author }}</p>
                <hr>
                <div class="card-text text-muted">{{ post.published_on}}</div>
            </div>
        </div>
        </a>
      </div>     
      {% endfor %}
    </div>
  </div>
</section>

<!-- EXPLORE -->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="h3 display-6">Explore</h3>
                <p>Looking for an inspiration? Find our most loved recipes below</p>
            </div>
            <!-- image -->
            <div class="col-sm-7 col-md-8">
                    <div class="col-6">
                        <br>
                    </div>
                    <div class="explore-image">
                                <img class="img-fit card-img-top" src="../static/images/explore-image.jpg" alt="" height="400" width="600"> 
                            </div>
                    </div>
                            

            <!-- list of recipes -->
            <div class="col-sm-5 col-md-4 mt-2">
                <br>
                <div class="col-6 offset-3">
                </div>
                <ol class="lead pl-4">
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title </a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                </ol>
                <br>
                <p class="lead text-center">
                    <a href="#" class="recipe-link text-reset">View all recipes</a>
                </p>
            </div>
        </div>
        </div>
    </div>
</section>


 <!-- CONTACT US -->
<section>
    <div class="container-fluid contact-background" id="contact-form">
        <div class="row d-flex justify-content-center pt-5">

            <!-- Contact title -->
            <div class="col-sm-8">
                <h2 class="text-center mt-2 mb-3">Contact us</h2>
            </div>
        </div>

            <!-- Contact form  -->
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 col-md-6">

                <form method="POST" class="contact-form full-form mb-5">
                    <input type="hidden" name="" value="">
                    <!-- Name input -->
                    <div id="div_id_name" class="control-group">
                       <label for="id_name" class="control-label requiredField">
                       Your name<span class="asteriskField">*</span> </label> 
                       <div class="controls"> <input type="text" name="name" maxlength="50" class="textinput textInput" required="" id="id_name"> </div>
                    </div>
                    <!-- Email input  -->
                    <div id="div_id_email" class="control-group">
                       <label for="id_email" class="control-label requiredField">
                       Email<span class="asteriskField">*</span> </label> 
                       <div class="controls"> <input type="email" name="email" maxlength="50" class="emailinput" required="" id="id_email"> </div>
                    </div>
                    <!-- Textarea -->
                    <div id="div_id_message" class="control-group">
                       <label for="id_message" class="control-label requiredField">
                       Message<span class="asteriskField">*</span> </label> 
                       <div class="controls"> <textarea name="message" cols="40" rows="10" class="textarea" required="" id="id_message"></textarea> </div>
                    </div>
                    <!-- Button -->
                    <button class="btn btn-warning btn-submit d-block m-auto mt-4">Send Message</button>
                 </form>
            </div>
        </div>
    </div>
    
</section>


{%endblock%}