{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid hero-image">
        <div class="row">
            <div class="col col-title text-center">
                    <h1 class="text-center title"> Welcome to The Healthy Family</h1>
                    <p class="display-6"> Perfect place to find and share healthy kid-friendly recipes</p>
                    <hr>
                    <button class="btn btn-warning btn-home-page">Login/Register</button>
            </div>
        </div>
    </div>
</section>


    <!-- RECENTLY ADDED RECIPES -->
<section>
    <div class="text-center mt-5 mb-5 added-recipes-title">
<h2>Recently Added Recipes</h2>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-margin">
                <img src="../static/images/oranges.jpg" alt="" class="card-img-top">
            <div class="card-body">
                    <h5 class="card-title rec-card-title"></h5>
                <p class="card-text">Recipe Title</p>
                <p class="card-text">Author</p>
                <div class="card-text">
                    <span>Recipe description</span>
                </div>
                <hr>
                <div class="card-text"> Date</div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-margin">
            <img src="../static/images/oranges.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title rec-card-title"></h5>
            <p class="card-text">Recipe Title</p>
            <p class="card-text">Author</p>
            <div class="card-text">
                <span>Recipe description</span>
            </div>
            <hr>
            <div class="card-text"> Date</div>
        </div>
    </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-margin">
            <img src="../static/images/oranges.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title rec-card-title"></h5>
            <p class="card-text">Recipe Title</p>
            <p class="card-text">Author</p>
            <div class="card-text">
                <span>Recipe description</span>
            </div>
            <hr>
            <div class="card-text"> Date</div>
        </div>
    </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-margin">
            <img src="../static/images/oranges.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title rec-card-title"></h5>
            <p class="card-text">Recipe Title</p>
            <p class="card-text">Author</p>
            <div class="card-text">
                <span>Recipe description</span>
            </div>
            <hr>
            <div class="card-text"> Date</div>
        </div>
    </div>
      </div>
    </div>
  </div>
</section>

<!-- EXPLORE -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="h3 display-6">Explore</h3>
                <p>Looking for an inspiration? Find our most loved recipes below</p>
            </div>
            <div class="col-sm-7 col-md-8 text-center">
                    <div class="col-6">
                        <br>
                    </div>
                    <div class="explore-image">
                                <img class="img-fit card-img-top" src="../static/images/explore-image.jpg" alt="" height="400" width="600">
                                
                            </div>
                        
                    </div>
                            

            <div class="col-sm-5 col-md-4 mt-2">
                <br>
                <div class="col-6 offset-3">
                </div>
                <ol class="lead pl-4">
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title </a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                    <li>
                        <a href="#" class="recipe-link text-reset">Recipe Title</a>
                        <hr>
                    </li>
                    
                </ol>
                <br>
                <p class="lead text-center">
                    <a href="#" class="recipe-link text-reset">View all recipes</a>
                </p>
            </div>
        </div>
        </div>
    </div>
</section>


<section>
    <!-- CONTACT US -->
</section>

{%endblock%}