{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid hero-image">
        <div class="row">
            <div class="col col-title text-center">
                    <h1 class="text-center title"> Welcome to The Healthy Family</h1>
                    <p class="display-6"> Perfect place to find and share healthy kid-friendly recipes</p>
                    <hr>
                    <button class="btn btn-warning btn-home-page">Login/Register</button>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- RECENTLY ADDED RECIPES -->
</section>

<section>
    <!-- EXPLORE -->
</section>

<section>
    <!-- CONTACT US -->
</section>

{%endblock%}