{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>Login</h2>
            <hr>
        </div>
    </div>
</div>

<section class="accounts-section-margin">
    <div class="container">
        <div class="row">
            <!-- image -->
            <div class="col-sm-7 col-md-4 image-padding">
                    <div class="accounts-image"></div>
                    </div>
                            

            <!-- FORM -->
            <div class="col-sm-5 col-md-8 form-left-padding">
                <form method="POST" action="" class="form-style">

                    <!--csrf_token -->
            
                    <input type="hidden" name="" value="">
            
                    <div class="form-input-fields">
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text" class="form-input form-control">
                    </div>
            
                    <div class="form-input-fields mt-4">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" class="form-input form-control">
                    </div>
            
                    <div class="form-input-fields">
                        <button type="submit" class="btn btn-dark mt-5">Sign in</button>
                    </div>
            
                    <p class="form-input-fields mt-3">Need an account?
                        Register <a href="#" class="link-item">here</a>!
                    </p>
            
                </form>

            </div>
        </div>
        </div>
    </div>
</section>




{%endblock%}