{% extends "base.html" %} {% block content %}
{% load static %}
{% load crispy_forms_tags%}
<!-- RECIPE HEAD  -->
<div class="container">
   <div class="row no-gutters recipe-card-head mt-2">
      <div class="col-md-6 my-auto">
         <h1 class="recipe-title text-light"> {{ post.title }}</h1>
         <p class="recipe-subtitle mb-3 mb-lg-0">by {{ post.author }} | <em>{{ post.published_on }}</em></p>
      </div>
      <div class="d-md-block col-lg-6 recipe-card-head-img">
         {% if "placeholder" in post.image.url %}
         <img src="../static/images/oranges.jpg" alt="Oranges" class="card-img-top img-fit">
         {% else %}
         <img class="card-img-top img-fit" src=" {{ post.image.url }}" alt="{{ post.title}}">
         {% endif %}
      </div>
   </div>
</div>
<!-- END OF RECIPE HEAD -->
<!-- MAIN RECIPE CONTENT -->
<div class="container">
   <div class="row">
      <div class="col border-0 card mb-4 mt-3 recipes-content-body">
         <div class="card-body px-0">
            <p>{{ post.description|striptags }}</p>
            <hr />
            <h3>Ingredients:</h3>
            <p class="card-text ">{{ post.ingredients | safe }} </p>
            <hr />
            <h3>Method:</h3>
            <p class="card-text ">{{ post.preparation_steps | safe }}</p>
            <hr />
         </div>
      </div>
   </div>
</div>
<!-- END OF MAIN RECIPE CONTENT -->
<div class="container">
   <div class="row">
      <!-- Like counter -->
      <div class="col-4 col-sm-2 col-xl-1" >
         {% if user.is_authenticated %}
         <form class="d-inline" action="{% url 'recipe_like' post.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" value="{{ post.slug }}" class="btn-like border-0">
            <i class="fas fa-heart"></i>
            </button>
            {% else %}
            <button type="submit" value="{{ post.slug }}" class="btn-like border-0">
            <i class="far fa-heart"></i></button>
            {% endif %}
         </form>
         {% else %}
         <span class="text-secondary"><i class="far fa-heart"></i></span>
         {% endif %}
         <strong>{{ post.number_of_likes }}</strong>
      </div>
      <!-- Comment Counter -->
      <div class="col-4">
         {% with comments.count as total_comments %}
         <strong class="text-secondary"><i class="far fa-comments"></i>
         {{ total_comments }}
         </strong>
         {% endwith %}
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <hr class="mt-2">
   </div>
</div>
<!-- COMMENTS SECTION -->
<div class="container">
   <div class="row">
      <div class="col card border-0 mb-4 mt-3 ">
         <h3>Comments:</h3>
         <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
               <p class="font-weight-bold">
                  {{ comment.name }}
                  <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                  </span> wrote:
               </p>
               {{ comment.body | linebreaks }}
            </div>
            {% if user.is_authenticated and user.username == comment.name %}
            <a href="{% url 'edit_comment' comment.id %}"><button class="btn-sm btn-success ">Edit</button></a>
            <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
            
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <div class="modal-body">
                        <h4>Are you sure you want to delete this comment?</h4>
                        <p>This action cannot be undone.</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger">Delete</a>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
         </div>
      </div>
      <!-- END OF COMMENTS SECTION -->
      <!-- COMMENT FORM -->
      <div class="col-md-8 card border-0 mb-4 mt-3 ">
         <div class="card-body pt-0">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
               {{ comment_form | crispy }}
               {% csrf_token %}
               <button type="submit" class="btn btn-signup btn-warning btn-lg">Submit</button>
            </form>
            {% endif %}
         </div>
      </div>
      <!-- END OF COMMENT FORM -->
   </div>
</div>
{%endblock%}