{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- RECIPE HEAD  -->
<div class="container">
    <div class="row no-gutters recipe-card-head mt-2">
        <div class="col-md-6 my-auto">
            <h1 class="recipe-title text-light"> {{ post.title }}</h1>
            <p class="recipe-subtitle mb-3 mb-lg-0">by {{ post.author }} | <em>{{ post.published_on }}</em></p>
        
            
        </div>
        <div class="d-md-block col-lg-6 recipe-card-head-img">
            {% if "placeholder" in post.image.url %}
                <img src="../static/images/oranges.jpg" alt="Oranges" class="card-img-top img-fit">
            {% else %}
                <img class="card-img-top img-fit" src=" {{ post.image.url }}" alt="{{ post.title}}">
              {% endif %}
        </div>
    </div>
</div>
<!-- END OF RECIPE HEAD -->

<!-- MAIN RECIPE CONTENT -->
<div class="container">
    <div class="row">
        <div class="col border-0 card mb-4 mt-3 recipes-content-body">
            <div class="card-body">
                <p>{{ post.description|striptags }}</p>
                <hr />
                <h3>Ingredients:</h3>
                <p class="card-text ">{{ post.ingredients | safe }} </p>
                <hr />
                <h3>Method:</h3>
                <p class="card-text ">{{ post.preparation_steps | safe }}</p>
                <hr />
            </div>
        </div>
    </div>
</div>
<!-- END OF MAIN RECIPE CONTENT -->

<div class="container">
    <div class="row">
        <!-- Like counter -->
        <div class="col-4 col-sm-2 col-xl-1" >
                {% if user.is_authenticated %}
                <form class="d-inline" action="#" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" value="{{ post.slug }}" class="btn-like border-0">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" value="{{ post.slug }}" class="btn-like border-0">
                        <i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <strong>{{ post.number_of_likes }}</strong>
        </div>
        <!-- Comment Counter -->
        <div class="col-4">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}
            </strong>
            {% endwith %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <hr class="mt-2">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 card border-0 mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
</div>



{%endblock%}