{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>Your Recipes</h2>
            <hr>
        </div>
        <div class="col-12 text-center mt-2">
            <a href="{% url 'add_recipe' %}"><button class="btn-lg btn-warning mb-2" >Add Recipe<i class="fas fa-plus-square ml-3"></i></button></a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="row no-gutters">
                {% for post in page_obj %}
                <div class="col-md-4">
                    <div class="card border-0 mb-4 all-recipes-cards">
                        <a href="{% url 'recipe_details' post.slug %}" class="text-decoration-none text-reset">
                            <div class="card-body">
                                <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <img src="../static/images/oranges.jpg" alt="Oranges" class="card-img-top img-fit" height="300">
                            {% else %}
                                <img class="card-img-top img-fit" height="300px" src=" {{ post.image.url }}" alt="{{ post.title}}">
                              {% endif %}
                                </div>
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="text-muted">by {{ post.author }}</p>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.published_on}} <i class="far fa-heart"></i>
                                    {{ post.number_of_likes }}</p>
                            </div>
                        </a>
                        <div class="text-center">
                              <!-- EDIT AND DELETE BUTTONS -->
                              <span>
                              <a href="{% url 'edit_recipe' post.id %}"><button class="btn-sm btn-success ">Edit</button></a></span>
                              <span>
                              <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
                              </span>
                              <!-- END OF BUTTONS -->
                        </div>
                      
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row no-gutters">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    
</div>

<!-- PAGINATION -->

{% include "pagination.html" %}

<!-- END OF PAGINATION -->
    
    {%endblock%}